@font-face {
    font-family: "myFonts";
    src: url("assets/fonts/FiraCode-VariableFont_wght.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "cool";
    src: url("assets/fonts/Lobster-Regular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "text";
    src: url("assets/fonts/StoryScript-Regular.ttf") format("trueType");
    font-style: normal;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    gap: 50px;
}
button {
    width: 80px ;
    height: 50px;
    border-radius: 20px;
    color: #dd7f04;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    font-family: "myFonts" ,sans-serif; 
    font-size: 20px;
    
}
#content {
    gap: 50px;
    display: flex;
    
}
.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #dd7f04;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    margin: 0px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.intro1 , .intro2  , .intro3{
    font-family: "myFonts" , sans-serif;
    margin: 0px;
    margin-top: 10px;
}
.intro1 , .intro3{
    font-size: 30px; 
    font-family: "text" , sans-serif;
}
.intro2{
    font-size: 40px;
    font-family: "cool" , sans-serif;
}
.order{
    width: 100px ;
    height: 50px;
    border-radius: 20px;
    color: #dd7f04;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    font-family: "myFonts" , sans-serif;
}
.para{
    background-color: #dd7f04;
    width: 1000px;
    height: 300px;
    font-family: "text" , sans-serif;
    font-size: 30px;
    margin: 10px;
    line-height: 50px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;

}
.image{
    width: 700px;
    height: 200px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}