@font-face {
    font-family: "myFonts";
    src: url("./assets/fonts/BroncoPersonalUse.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
    font-size: larger;
}
@font-face {
    font-family: "cool";
    src: url("./assets/fonts/Avenue\ de\ Madison.ttf") format("ttf");
    
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:aliceblue;
    gap: 50px;
}
button {
    width: 80px ;
    height: 50px;
    border-radius: 20px;
    color: #dd7f04;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    font-family: "myFonts"; 
    
}
#content {
    gap: 50px;
    display: flex;
    
}
.texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: #dd7f04;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
.intro1 , .intro2  , .intro3{
font-family: "myFonts";
margin: 0px;
margin-top: 10px;
}
.intro1 , .intro3{
    font-size: 30px; 
}
.intro2{
    font-size: 40px;
    font-family: "cool";
}
.order{
    width: 100px ;
    height: 50px;
    border-radius: 20px;
    color: #dd7f04;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    font-family: "myFonts";
}